<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

.cinzel-decorative {
  font-family: 'Cinzel Decorative', serif;
  font-weight: 400;
  font-style: normal;
}

.raleway-tabcontent {
  font-family: 'Raleway', sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.newsreader-tabcontent {
  font-family: 'Newsreader', serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

h1 {
  font-family: 'Cinzel Decorative', serif;
  background: linear-gradient(90deg, #cde1e7 0%, transparent 33%, transparent 66%, #cde1e7 100%);
}

fieldset {border: 1px solid #cde1e7; }

.progress {     background: #cde1e7; }

nav {
   background-color: #cde1e7;
}

nav a { 
  transition: .3s; 
  text-decoration: none; 
  color: #024052!important; 
}

nav a:hover { 
  color: #bbd2db!important;
}

table a { 
  transition: .3s; 
  text-decoration: none; 
  color: #bbd2db!important; 
}

table a:hover { 
  color: #024052!important;
}

.tabcontent a { 
  transition: .3s; 
  text-decoration: none; 
  color: #bbd2db!important; 
}

.tabcontent, stats {
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  font-size: 12px;
}

.tabcontent a:hover { 
  color: #024052!important;
}

.tabwrap { margin: 0 0 1.5rem;
         color: #000000}

.stats {max-width: 300px;}

