
@import url('https://fonts.googleapis.com/css2?family=Delius&family=Henny+Penny&family=Miniver&family=Princess+Sofia&display=swap');

:root {
  --alt: #E6E0E9!important;
  --border: #E6E0E9!important;
}

.delius-regular {
  font-family: "Delius", cursive;
  font-weight: 400;
  font-style: normal;
}

.princess-sofia-regular {
  font-family: "Princess Sofia", cursive;
  font-weight: 400;
  font-style: normal;
}

.miniver-regular {
  font-family: "Miniver", cursive;
  font-weight: 400;
  font-style: normal;
}

.henny-penny-regular {
  font-family: "Henny Penny", system-ui;
  font-weight: 400;
  font-style: normal;
}


h1 {
  font-family: 'Princess Sofia';
  background: linear-gradient(90deg, #635F8A 0%, transparent 33%, transparent 66%, #635F8A 100%);
}

fieldset {border: 1px solid #cde1e7; }

.progress {     background: #635F8A; }

nav {
   background-color: #E6E0E9;
}

nav a { 
  transition: .3s; 
  text-decoration: none; 
  color: #635F8A!important; 
}

nav a:hover { 
  color: #718A5F!important;
}

table a { 
  transition: .3s; 
  text-decoration: none; 
  color: #635F8A!important; 
}

table a:hover { 
  color: #868A5F!important;
}

.tabcontent a { 
  transition: .3s; 
  text-decoration: none; 
  color: #635F8A!important; 
  padding: 0.25rem!important;
}

.tabcontent a:hover { 
  color: #868A5F!important;
}

.tabcontent {
  font-family: 'Delius', sans-serif;
  font-weight: 100;
  font-size: 14px;
  background-color: #E6E0E9;
}

table.stats {
  font-family: 'Delius', sans-serif;
  font-weight: 100;
  font-size: 14px;
}

.tabwrap { margin: 0 0 1.5rem;
          color: #635F8A'
}

.tabwrap a:hover {
         color: #868A5F}

.stats {max-width: 300px;}

* {box-sizing: border-box}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev2, .next2 {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 8px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next2 {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev2:hover, .next2:hover {
  background-color: rgb(205, 225, 231, 0.5);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 10px 2px;
  background-color: #635F8A;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active2, .dot:hover {
  background-color: #868A5F;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

button, .button, input.btn { background: #635F8A; color: #fff; transition: .3s; }
button:hover, .button:hover, input.btn:hover { color: #E6E0E9; background: transparent }

    .tablinks.active, .tabcontent {
      background-color: var(--alt);
    }
